<div class="container py-5">
  <h2>Courses</h2>
  <hr>

  <div class="card mt-5">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dignissimos iure omnis neque accusamus, voluptate aliquam suscipit facilis voluptatibus amet voluptatem numquam quibusdam, voluptas cupiditate obcaecati sit saepe iste? Alias.
    </div>
  </div>
</div>
